@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
<h3>Informações</h3>

<address>
    Parque São Martinho<br />
    Campinas, São Paulo<br />
    Tel: 19 9 9649 9021
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:angelocmcarvalho@gmail.com">angelocmcarvalho@gmail.com</a><br />
</address>