@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD Test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo ao CRUD Test</h2>
        <p>
			Você pode criar, ler, editar e deletar dados.
        </p>
    </div>
</div>